body {
    background-color: rgba(7, 220, 235, 0.596);
    height: 100vh;
}
.main {
    width: 350px;
    height: 700px;
    background-color: white;
    margin: 0 auto;
    margin-top: 115px;
    border-radius: 50px;
    border: 2px solid red;
    box-shadow: 10px 10px 5px rgb(56, 9, 185);
}
.top {
    width: 345px;
    height: 55px;
    border: 1px solid gray;
    margin: 50px 0px 50px 2px;
    display: inline-block;
}
.text{
    font-family:'Courier New', Courier, monospace ;
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
    text-align: center; 
    line-height: 32.87px;
    display: inline-block;
    /* width: 70%; */
    /* letter-spacing: -0.47px; */
    margin: 20px 0px 20px 0px; 
    
}
.img1 {
    display: inline-block;
    margin: 15px 0px ;
    width: 10%;
}














